
.Hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background-color: rgb(207, 198, 198);
}

.parallax {
    background-attachment: fixed;
}

.containerLeft{
    height: 100vh;
    background-color: #101010;
    width: 50%;
}

.containerLeft img{
    margin-left: 12%;
    margin-top: 15%;
}

.containerRight{
    height: 100vh;
   background-color: #5F8D4E;
    width: 50%;
}

.social{
    display: block;
    margin-top: 45%;
    margin-left: 10%;

}

.social img{
    width: 8%;
    margin-top: 2%;
}

/* @media screen and (max-width: 940px) {

.Hero{
    width: 50%;
}
.containerLeft img{
    width: 20px;
}
} */

